player-connection-mode=Listen
player-connection-guid=4222490719
player-connection-debug=0
player-connection-project-name=Photon Pun
player-connection-ip=192.168.1.91
player-connection-ip=25.94.229.166
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=c536ae8bd244482e9330b237bf2ecef5
